<div class="row mt-4 ml-2">
            <div class="container mt-5">
                <div class="row align-items-center justify-content-end p-0">
                    <div class="col-auto mr-auto mt-2 ">
                        <div class="form-group-0">
                          <h2><b>Tax List</b></h2>
                        </div>
                      </div>
                      <div class="col-auto px-1">
                        <div class="form-group mr-0">
                            <button type="button" class="btn btn-primary" [routerLink]="['/admin/create-tax']">
                                <i class="fa-solid fa-plus mr-1"></i>Add new
                            </button>
                        </div>
                      </div>
                      </div>
                <table class="table table-responsive mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"> Rate</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tax.data.items">
                            <td>{{item.name}}</td>
                            <td>{{item.rate}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <div class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item">Detail</a>
                                  </div>
                                </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>