
<div class="row mt-4 ml-2">
            <div class="container mt-5 ">
            <div class="row align-items-center justify-content-end p-0">
              <div class="col-auto mr-auto mt-2">
                <div class="form-group-0">
                  <h2><b>Subscriptions</b></h2>
                </div>
              </div>
              <div class="col-auto px-1">
                <div class="form-group mr-0">
                  <div style="position: relative;">
                  <input id="search" (keyup)="searchData($event)" class="form-control" type="text" name="search" aria-label="search" placeholder="search">
                  <i class="fas fa-search search-icon"></i>
                </div>
                </div>
              </div>
              <div class="col-auto px-1">
                <div class="form-group mr-0">
                  <select (change)="filterData($event)" name="selectElement" id="selectElement" class="form-control" aria-label="select an option">
                    <option value="live">Live</option>
                    <option value="future">Future</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="non_renewing">Non renewing</option>
                    <option value="extra_charge">Extra charge</option>
                  </select>
                </div>
              </div>
              <div class="col-auto px-1">
                <div class="form-group mr-0">
                  <button type="button" [routerLink]="['/admin/create-subscription']" class="btn btn-primary">
                    <i class="fa-solid fa-plus mr-1"></i>Add new
                  </button>        
              </div>
              </div>
            </div>
          </div>
              
          <table class="table mb-0 table-responsive">
            <thead >
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Plan No.</th>
                <th scope="col"> Customer</th>
                <th scope="col">Plan</th>
                <th scope="col" class="no-wrap">Total Amount</th>
                <th scope="col" class="no-wrap">Billings Remain</th>
                <th scope="col">Created On</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of subscription.data.items">
                <td class="no-wrap">{{item.code}}</td>
                <td>{{item.plan_number}}</td>
                <td >{{item.customer.first_name}}{{item.customer.last_name}}</td>
                <td class="no-wrap">{{item.plan.name}}</td>
                <td>{{item.total}}</td>
                <td>{{item.billing_cycle}}</td>
                <td>{{item.created_at}}</td>
                <td> <span class="badge bg-light text-success fw-bold">{{item.status}}</span></td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" [routerLink]="['/admin/subscription']">Edit</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

