<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Log in</h3>

            <form [formGroup]="loginForm">
              <div *ngIf="errorResponse" class="alert alert-danger">
                {{errorResponse}}
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email"
                  formControlName="email">
                <div
                  *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.controls['email'].errors?.['required']">
                    Email is required.
                  </div>
                  <div *ngIf="loginForm.controls['email'].errors?.['email']">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>


              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password"
                  formControlName="password">
                <div
                  *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.controls['password'].errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="loginForm.controls['password'].errors?.['minlength']">
                    Password must be at least 8 characters long.
                  </div>
                </div>
              </div>


              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!loginForm.valid"
                (click)="onSubmit()">Login</button>
              <small class="small"><a [routerLink]="['/forgot-password/']">Forgot password</a></small>
            </form>

            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>