<div class="mt-15  ml-auto mr-auto">
  <div class="row ">
    <h2 class="text-uppercase text-center mb-5 "><b>Add Payment</b></h2>
    <form [formGroup]="paymentForm">
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <label class="selectCustomer required" for="selectCustomer" name="selectCustomer">Select Customer </label>
            <input matInput id="selectCustomer" placeholder="Select Customer" formControlName="customer_id"
              class="form-control form-control-lg w-50" [matAutocomplete]="customerAuto"
              (input)="filterCustomers($event)">
            <mat-autocomplete #customerAuto="matAutocomplete" (optionSelected)="updateInfo($event)" >
              <mat-option *ngFor="let customer of filteredCustomers" [value]="customer.first_name">
                {{ customer.first_name }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <label class="selectCustomer required" for="amount" name="amount">Amount Received </label>
            <input id="amount" placeholder="Amount Received" formControlName="amount"
              class="form-control form-control-lg" type="number">
          </div>
          <div class="form-outline mb-2 col">
            <label class="selectCustomer required" for="paymentdate" name="paymentdate">Payment Date </label>
            <input id="paymentdate" placeholder="Payment Date" formControlName="paid_at"
              class="form-control form-control-lg" type="datetime-local">
          </div>
          <div>
            <input type="checkbox" id="fullAmountReceivedCheckbox" name="fullAmountReceived"
              formControlName="amount_received" (change)="checkedBox($event)">
            <label for="fullAmountReceivedCheckbox" class="ml-1"> Received full amount<span
                *ngIf="amountReceived !== undefined">(¥ {{ amountReceived }})</span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <label class="payment_mode required" for="payment_mode" name="payment_mode">Mode of Payment </label>
            <input matInput id="payment_mode" placeholder="Payment Mode" formControlName="mode"
              class="form-control form-control-lg" [matAutocomplete]="paymentAuto">
            <mat-autocomplete #paymentAuto="matAutocomplete">
              <mat-option *ngFor="let payment of payments" [value]="payment.mode">
                {{ payment.mode}}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="form-outline mb-2 col">
            <label class="reference required" for="reference" name="reference">Reference</label>
            <input id="amount" placeholder="Amount Received" formControlName="reference"
              class="form-control form-control-lg" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control w-50"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <label>Apply to invoices immediately ?</label>
            <div>
              <input type="radio" id="applyImmediatelyYes" name="apply_to_invoices" value="Yes" class="ml-1"
                formControlName="apply_to_invoices">
              <label for="applyImmediatelyYes" class="ml-1">Yes</label>
              <input type="radio" id="applyImmediatelyNo" name="apply_to_invoices" value="No" class="ml-1"
                formControlName="apply_to_invoices">
              <label for="applyImmediatelyNo" class="ml-1">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3" *ngIf="optionSelected">
        <div class="col-12" *ngIf=" hasInvoices">
          <h5 class="pb-3"><b>Invoices</b></h5>
          <div class="row justify-content-end">
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Invoice Amount</th>
                <th scope="col">Due amount</th>
                <th scope="col">Payment</th>

              </tr>
            </thead>
            <tbody formArrayName="invoices">
              <ng-container *ngFor="let invoiceFormGroup of invoices.controls; let i = index">
                <tr [formGroupName]="i">
                  <td>{{ invoice[i].invoice_date }}</td>
                  <td>{{ invoice[i].number }}</td>
                  <td>{{ invoice[i].total }}</td>
                  <td>{{ invoice[i].due_amount }}</td>
                  <td>
                    <input type="text" formControlName="amount" placeholder="New Amount">
                    <div *ngIf="invoiceFormGroup.get('amount')?.hasError('amountExceedsDue')"
                      class="alert alert-danger">
                      The payment must be less than due amount
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="amount-container p-5">
            <p class="text-right  pb-5">Sub total:{{totalDueAmount}}</p>
            <p class="text-right">Amount Received: {{ paymentForm.get('amount')?.value }}</p>
            <p class="text-right">Amount used for Payments:{{totalDueAmount}}</p>
            <p class="text-right">Amount in excess: {{ calculateAmountInExcess() }}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-outline mb-2 col">
            <input type="checkbox" id="send_mail" name="send_mail" formControlName="send_mail">
            <label for="send_mail" class="ml-1 ">Email a “thank you” note for this payment</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-light btn-lg ml-2">Cancel</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="onSubmit()">Save</button>
      </div>
    </form>
  </div>
</div>