<div class="mt-20  ml-auto mr-auto">
    <h2 class="text-uppercase text-center mb-5"><b>Create a customer account</b></h2>

    <form [formGroup]="customer_registerForm">
        <div *ngIf="errorResponse">
            {{errorResponse}}
        </div>
        <div class="row">
            <div class="form-outline mb-2 col ">
                <label for="first_Name" class="form-label" class="required">First Name</label>
                <input type="text" id="first_Name" name="first_Name" class="form-control form-control-lg "
                    placeholder="First Name" formControlName="first_name">
                <div *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="first_name?.errors?.['required']">
                        First name is required.
                    </div>
                </div>
            </div>
            <div class="form-outline mb-2 col">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" id="last_Name" name="last_Name" class="form-control form-control-lg"
                    placeholder="Last Name" formControlName="last_name">
            </div>
        </div>

        <div class="row">
            <div class="form-outline mb-2 col">
                <label for="email" class="form-label" class="required">Email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg"
                    placeholder="Ex:harry@example.com" formControlName="email">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                    <div *ngIf="email?.errors?.['required']">
                        Email is required.
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                        Please enter a valid email address.
                    </div>
                </div>
            </div>
            <div class="form-outline mb-2 col">
                <label class="form-label" for="form3Example4cdg" name="phone">Phone</label>
                <input type="number" id="form3Example4cdg" class="form-control form-control-lg" formControlName="phone"
                    placeholder="Phone" />
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger">
                    <div *ngIf="phone?.errors?.['required']">
                        Phone number is required.
                    </div>
                    <div *ngIf="phone?.errors?.['minlength']">
                        Phone number must be at least 10 characters long.
                    </div>
                    <div *ngIf="phone?.errors?.['pattern']">
                        Phone number must start with '977'.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-outline mb-2 col">
                <label class="form-label" for="form3Example4cdg" name="phone"> Other Phone</label>
                <input type="number" id="form3Example4cdg" class="form-control form-control-lg" formControlName="phone"
                    placeholder="Other Phone" />
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger">
                    <div *ngIf="phone?.errors?.['required']">
                        Phone number is required.
                    </div>
                    <div *ngIf="phone?.errors?.['minlength']">
                        Phone number must be at least 10 characters long.
                    </div>
                    <div *ngIf="phone?.errors?.['pattern']">
                        Phone number must start with '977'.
                    </div>
                </div>
            </div>
            <div class="form-outline mb-2 col">
                <label class="form-label" for="form3Example4cdg" name="phone"> Mobile</label>
                <input type="number" id="form3Example4cdg" class="form-control form-control-lg" formControlName="phone"
                    placeholder="Mobile" />
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger">
                    <div *ngIf="phone?.errors?.['required']">
                        Phone number is required.
                    </div>
                    <div *ngIf="phone?.errors?.['minlength']">
                        Phone number must be at least 10 characters long.
                    </div>
                    <div *ngIf="phone?.errors?.['pattern']">
                        Phone number must start with '977'.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-outline mb-2 col">
                <label for="customer_type" class="form-label" class="required">Customer Type</label>
                <input type="text" id="customer_type" name="customer_type" class="form-control form-control-lg w-50"
                    placeholder="Ex: 0 or 1" formControlName="customer_type">
                <div *ngIf="customer_registerForm.get('customer_type')?.invalid && 
                                    (customer_registerForm.get('customer_type')?.dirty || 
                                     customer_registerForm.get('customer_type')?.touched)" class="alert alert-danger">
                    <div *ngIf="customer_registerForm.get('customer_type')?.errors?.['required']">
                        Customer Type is required.
                    </div>
                    <div *ngIf="customer_registerForm.get('customer_type')?.errors?.['min']">
                        Customer Type must be at least 0.
                    </div>
                    <div *ngIf="customer_registerForm.get('customer_type')?.errors?.['max']">
                        Customer Type cannot be greater than 1.
                    </div>
                    <div *ngIf="customer_registerForm.get('customer_type')?.errors?.['pattern']">
                        Customer Type must be a valid integer.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <ul class="nav">
                <li class="nav-item home">
                    <a class="nav-link" [ngClass]="{ 'active': section === 'profile' }"
                        (click)="switchSection('profile')">Profile</a>
                </li>
                <li class="nav-item home">
                    <a class="nav-link" [ngClass]="{ 'active': section === 'document' }"
                        (click)="switchSection('document')">Document</a>
                </li>
                <li class="nav-item home">
                    <a class="nav-link" [ngClass]="{ 'active': section === 'payment' }"
                        (click)="switchSection('payment')">Payment</a>
                </li>
                <li class="nav-item home">
                    <a class="nav-link" [ngClass]="{ 'active': section === 'other' }"
                        (click)="switchSection('other')">Other</a>
                </li>
                <li class="nav-item home">
                    <a class="nav-link" [ngClass]="{ 'active': section === 'contact_person' }"
                        (click)="switchSection('contact_person')">Contact person</a>
                </li>
            </ul>
        </div>

        <hr class="light-line">


        <div *ngIf="section=='profile'" class="profile">
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="postalCode" for="postalCode" name="postal_code">Postal code</label>
                    <input type="text" id="postalCode" formControlName="postal_code"
                        class="form-control form-control-lg" (click)="onPostalCodeChange()"
                        placeholder="Postal code">
                </div>
                <div class="form-outline mb-2 col">

                    <label class="province" for="provinceInput" name="province">Province</label>
                    <input matInput id="provinceInput" placeholder="Select Province" formControlName="province" class="form-control form-control-lg" [matAutocomplete]="provinceAuto" (input)="filterProvinces($event)" >
                    <mat-autocomplete #provinceAuto="matAutocomplete" (optionSelected)="selectProvince($event)">
                      <mat-option *ngFor="let province of filteredProvinces" [value]="province" >
                        {{ province }}
                      </mat-option>
                    </mat-autocomplete>
                    
             </div>
            </div>


            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="city" for="cityInput" name="city">City</label>
                    <input matInput id="cityInput" placeholder="Select city" formControlName="city" class="form-control form-control-lg" [matAutocomplete]="cityAuto" (input)="filterCities($event)">
                    <mat-autocomplete #cityAuto="matAutocomplete" (optionSelected)="selectCity($event)">
                        <mat-option *ngFor="let city of filteredCities" [value]="city">
                            {{ city }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="addressInput" name="address">Address</label>
                    <input matInput id="addressInput" placeholder="Select address" formControlName="address"  class="form-control form-control-lg" [matAutocomplete]="addressAuto" (input)="filterAddresses($event)">
                    <mat-autocomplete #addressAuto="matAutocomplete">
                      <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                        {{address}}
                      </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example4cdg" name="gender">Select Your gender</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select the gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Others</option>
                    </select>
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example4cdg" name="building">Building</label>
                    <input type="text" id="form3Example4cdg" class="form-control form-control-lg"
                        formControlName="building" placeholder="Building" />
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="facebook"> Facebook</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="facebook" placeholder="Facebook" />
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="profession">
                        Profession</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="profession" placeholder="Profession" />
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="whatsapp"> Whatsapp</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="whatsapp" placeholder="Whatsapp" />
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="line">
                        Line</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="line"
                        placeholder="Line" />
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="nationality">
                        Nationality</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="nationality" placeholder="Nationality" />
                </div>
            </div>
        </div>
        <div *ngIf="section=='document'" class="document">
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="residence_card _number">
                        Residence Card Number</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="residence_card_number" placeholder="Residence Card Number" />
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="residence_card _number">
                        Select residence card status</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select the card status</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="residenceCardFront">Residence Card Front</label>
                    <input type="file" id="residenceCardFront" class="form-control-file"
                        (change)="onFileSelected($event, 'front')" formControlName="residence_card_front" />
                        <img *ngIf="frontPreview" [src]="frontPreview" alt="Front Preview" class="img-preview" />
                        <button *ngIf="frontPreview" type="button" class="btn-close" aria-label="Close" (click)="discardFrontPhoto()"></button>
                    </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="residenceCardBack">Residence Card Back</label>
                    <input type="file" id="residenceCardBack" class="form-control-file"
                        (change)="onFileSelected($event, 'back')" formControlName="residence_card_back" />
                    <img *ngIf="backPreview" [src]="backPreview" alt="Back Preview" class="img-preview" />
                    <button *ngIf="backPreview" type="button" class="btn-close" aria-label="Close" (click)="discardBackPhoto()"></button>
                </div>
            </div>
        </div>


        <div *ngIf="section=='payment'" class="payment">
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example4cdg" name="phone">Smart Pit number</label>
                    <input type="number" id="form3Example4cdg" class="form-control form-control-lg"
                        formControlName="smartpit_no" placeholder="Smart Pit Number" />
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="bankautoid_telecom"> BankAuto id
                        telecom</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="bankautoid_telecom" placeholder="Bank Auto Id Telecom" />
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="bankauto_veritrans"> BankAuto
                        veritrans</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="bankauto_veritrans" placeholder="Bank Auto veritrans" />
                </div>
            </div>

        </div>
        <div *ngIf="section=='other'" class="other">
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="referer"> Referer</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="referer" placeholder="Referer" />
                    <div *ngIf="referer?.invalid && (referer?.dirty ||referer?.touched)" class="alert alert-danger">
                        <div *ngIf="referer?.errors?.['required']">
                            Referer is required.
                        </div>
                    </div>
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example4cdg" name="dob">Period of stay</label>
                    <input type="date" id="form3Example4cdg" class="form-control form-control-lg"
                        formControlName="period_of_stay" placeholder="Period Of Stay" />
                    <div *ngIf="period_of_stay?.invalid && (period_of_stay?.dirty || period_of_stay?.touched)"
                        class="alert alert-danger">
                        <div *ngIf="period_of_stay?.errors?.['required']">
                            Period of stay is required is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example1cg" name="company"> Company</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                        formControlName="company" placeholder="Company" />
                    <div *ngIf="company?.invalid && (company?.dirty || company?.touched)" class="alert alert-danger">
                        <div *ngIf="company?.errors?.['required']">
                            Company name is required.
                        </div>
                    </div>
                </div>
                <div class="form-outline mb-2 col">
                    <label for="firstName" class="form-label">Emergency Contact Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control form-control-lg"
                        placeholder="Emergency Contact Name" formControlName="first_name">
                    <div *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)"
                        class="alert alert-danger">
                        <div *ngIf="first_name?.errors?.['required']">
                            Emergency Contact name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-outline mb-2 col">
                    <label class="form-label" for="form3Example4cdg" name="phone">Emergency Contact
                        phone</label>
                    <input type="number" id="form3Example4cdg" class="form-control form-control-lg"
                        formControlName="phone" placeholder="Emergency Contact Phone" />
                    <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger">
                        <div *ngIf="phone?.errors?.['required']">
                            Emergency contact phone is required.
                        </div>
                    </div>
                </div>
                <div class="form-outline mb-2 col">
                    <label class="form-label">Remarks</label>
                    <textarea id="description" name="description" rows="4" class="form-control form-control-lg"
                        placeholder="Write your message..." formControlName="description"></textarea>
                    <div *ngIf="description?.invalid && (description?.dirty ||description?.touched)"
                        class="alert alert-danger">
                        <div *ngIf="description?.errors?.['required']">
                            Please enter a message.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="section=='contact_person'" class="contact_person">
            <div class="row mb-3">
                <div class="col  table-responsive">
                    <table *ngIf="inputFields.length > 0" class=" table ">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="contacts">
                            <tr *ngFor="let contact of inputFields; let i = index" [formGroupName]="i">
                                <td><input formControlName="first_name" placeholder="First Name">
                                </td>
                                <td><input formControlName="last_name" placeholder="Last Name"></td>
                                <td><input formControlName="email" placeholder="Email"></td>
                                <td><input formControlName="phone" placeholder="Phone"></td>
                                <td><input formControlName="mobile" placeholder="Mobile"></td>
                                <td><button type="button" (click)="removeInputField(i)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)="addInputField()">Add Contact</button>
        </div>

        <br />
        <button type="button" class="btn btn-info" (click)="onregister()"
            [disabled]="!customer_registerForm.valid">Save</button>

        <div *ngIf="customer_registerResponse" class="alert alert-success">
            Registration successful!
        </div>


    </form>
</div>