<div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><b> Customer Details</b></h5>

       
           <p>Id:{{customer.id}}</p>
           <p>Email:{{customer.email}}</p>
           <p> Customer number:{{customer.customer_number}}</p>
           <p> First name:{{customer.first_name}}</p>
           <p> Last name{{customer.last_name}}</p> 
           <p>Phone:{{customer.phone}}</p>
           <p> company:{{customer.company}}</p> 
           <p>Total due amount:{{customer.total_due_amount}}</p>
           <p> Excess credit:{{customer.excess_credit}}</p>
           <p>Is Active:{{customer.is_active}}</p>
        </div>
        <a routerLink="/admin/customer" class="btn btn-info">Back</a>
    </div>


