

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " style=" z-index: 100;">
  <a class="navbar-brand" href="#">NITV CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
            <a class="nav-link" routerLink="customer"  routerLinkActive="active">Customer</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="user"  routerLinkActive="active">User</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="invoice"  routerLinkActive="active"> Invoice</a>
          </li>
          <li class="nav-item mr-3">
            <input type="button" (click)="logout()" class="btn btn-info" value=" logout">
          </li>
          
          
    </ul>
  </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>




