<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2" [ngClass]="{'expanded': !isNavbarCollapsed}">
      <nav class="navbar navbar-expand-lg navbar-light bs-side-navbar" [ngClass]="{'collapsed': isNavbarCollapsed}">
        <div class="navbar-box">
        <div class="flex justify-center items-center mb-3 ml-3">
          <img src="assets/images/companylogo.webp" routerLink="dashboard" alt="Company logo" class=" company-logo w-200" [ngClass]="{'shrink': isNavbarCollapsed}">
        </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-2 d-flex align-items-center">
                <img src="assets/images/dashboard.png" alt="Dashboard Image" class="dashboard-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-2 d-flex align-items-center">
                <img src="assets/images/box.png" alt="Customer Image" class="box-image" >
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="products" routerLinkActive="active">Products</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-2 d-flex align-items-center">
                <img src="assets/images/c.png" alt="Customer Image" class="customer-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="customer" routerLinkActive="active">Customers</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/subscription.jpg" alt="Customer Image" class="subscription-image" >
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="subscriptions" routerLinkActive="active">Subscriptions</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/invoicesLogo.svg" alt="Customer Image" class="invoice-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="invoice" routerLinkActive="active">Invoices</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/payment.png" alt="Customer Image" class="payment-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="payment" routerLinkActive="active">Payments</a>
              </div>
            </li>
           <!----<li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/user.png" alt="Customer Image" class="user-image" >
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="user" routerLinkActive="active">User</a>
              </div>
            </li>-->
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/taxes.png" alt="Customer Image" class="tax-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}" routerLink="tax" routerLinkActive="active">Taxes</a>
              </div>
            </li>
            <li class="nav-item mr-3 mb-2">
              <div class="nav-item mr-3 mb-3 d-flex align-items-center">
                <img src="assets/images/reportLogo.svg" alt="Customer Image" class="tax-image">
                <a class="nav-link" [ngClass]="{'hide-content': isNavbarCollapsed}"  >Report</a>
              </div>
            </li>
          </ul>
          </div>
      </nav>
    </div>
    <div class="col-lg-10" [ngClass]="{'expanded-layout': !isNavbarCollapsed, 'collapsed-layout': isNavbarCollapsed}" >
      <div class="nav-images border-bottom">
        <span>
          <img alt="" class="menu" (click)="toggleNavbar()" src="assets/images/menu.webp">
        </span>
        <div  class="images">
         
          <img src="assets/images/sun.svg" alt="sunlight" class="nav-image" >

          <img src="assets/images/notification.svg" alt="Customer Image" class="nav-image">

          <div class="dropdown" (click)="toggleDropdown()">
            <img src="assets/images/profileimage.svg" alt="Your Image" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            <!-- Dropdown menu -->
            <div class="dropdown-menu dropdown-menu-right" *ngIf="isDropdownOpen" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" ><b>ScheiBe</b><br>user&#64;example.com</a>
              <hr class="mt-0 mb-0">
              <a class="dropdown-item" >Account</a>
              <a class="dropdown-item"  (click)="logout()">Sign Out</a>
            </div>
          </div>
          <img src="assets/images/preference.svg" alt="Customer Image" class="nav-image">
        </div>
      </div>
        <router-outlet></router-outlet>
     </div>
  </div>
</div>