<div class="col-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><b> User Details</b></h5>


            <p>Id:{{users.id}}</p>
            <p>User Type:{{users.user_type}}</p>
            <p> Name:{{users.name}}</p>
            <p> Customer number{{users.customer_number}}</p>
            <p> Company:{{users.last_name}}</p>
            <p>Email{{users.email}}</p>
            <p> Phone:{{users.phone}}</p>
            <p>Address:{{users.address}}</p>
            <p> Last login ip:{{users.last_login_ip}}</p>
            <p>Is Active:{{users.is_active}}</p>
        </div>
    </div>
    <a routerLink="/admin/user" class="btn btn-info">Back</a>
</div>