<div class="row mt-4 ml-2">
<div class="container mt-5">
  <div class="row align-items-center justify-content-end p-0">
    <div class="col-auto mr-auto mt-2 ">
        <div class="form-group-0">
          <h2><b>Payments</b></h2>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="form-group mr-0">
            <button type="button" class="btn btn-primary" [routerLink]="['/admin/create-payment']">
                <i class="fa-solid fa-plus mr-1"></i>Add new
            </button>
        </div>
      </div>
      </div>
          <table class="table mb-0">
            <thead class="sticky-header">
              <tr>
                <th scope="col">Payment Date</th>
                <th scope="col">Payment No.</th>
                <th scope="col"> Invoice Number</th>
                <th scope="col">Customer</th>
                <th scope="col" >Mode</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of payment.data.items">
                <td>{{item.paid_at}}</td>
                <td class="no-wrap">{{item.payment_number}}</td>
                <td>
                  <div class="truncate-text">
                    <ng-container *ngFor="let invoice of item.invoices; let i = index">
                      {{ invoice.number }}{{ i === item.invoices.length - 1 ? '' : ', '}}
                    </ng-container>
                  </div>
                </td>
                <td>{{item.customer.first_name}}</td>
                <td>{{item.mode}}</td>
                <td>{{item.amount}}</td>
                <td>
                <span [ngClass]="{'text-success': item.mode, 'text-danger': !item.mode}" class="badge bg-light fw-bold">
                  {{ item.mode ? 'Success' : 'Failed' }}
                </span>
                 </td> 
                 <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" [routerLink]="['/admin/payment', item.id]">Detail</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
</div>