
<div class="row pt-20 pl-5">
    <div class="col-12">
      <h5 class="pb-3"><b>Invoice Details</b></h5><div><a [routerLink]="['/admin/invoice-register']" class="btn btn-info">Create a new invoice</a></div>
      
            <table class="table  table-striped table-responsive">
              <thead class=" sticky-header">
          

                <tr>
                  <th scope="col">Url</th>
                  <th scope="col">Number</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Subscription id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th> 
                  <th scope="col">Status</th> 
                  <th scope="col">Invoice Date</th> 
                  <th scope="col">Invoice Due Date</th> 
                  <th scope="col">Action</th> 
                </tr>               
              </thead>
              <tbody>
                <tr *ngFor="let post of invoice.items">
                  <td>{{post.url}}</td>
                  <td>{{post.number}}</td>
                  <td>{{post.comments}}</td>
                  <td>{{post.subscription_id}}</td>
                  <td>{{post.customer.first_name}}</td>
                  <td>{{post.customer.last_name}}</td>
                  <td>{{post.status_description}}</td>
                  <td>{{post.invoice_date}}</td>
                  <td>{{post.invoice_due_date}}</td>
                  <td>
                    <a [routerLink]="['/admin/invoice', post.id]" class="btn btn-info">Detail</a>
                  </td>
 
                  <td>
                  <!-- <a [routerLink]="['/admin/user', post.id]"class="btn btn-info">Detail</a>
                  </td>
                  <td>
                    <a [routerLink]="['/admin/user/',post.id, 'update']" class="btn btn-info">Update</a>
                  </td>
                 ---<td>
                    <a class=" btn btn-danger"  (click)="deleteUser(post.id)">Delete</a>
                  </td>-->
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      
