
<div class="row  pl-5">
    <div class="col-12">
      <h5 class="pb-3"><b>Invoice Details</b></h5>
      <div class="row justify-content-end">
        <div class="col-auto">
          <a [routerLink]="['/admin/invoice-register']" class="btn btn-info"><i class="fa-solid fa-plus mr-1"></i>Add new</a>
        </div>
        </div>
      
            <table class="table">
              <thead class=" sticky-header">
          

                <tr>
                  <th scope="col">Invoice Number</th>
                  <th scope="col">Date</th> 
                  <th scope="col">Due Date</th> 
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Total amount</th>
                  <th scope="col">Due amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th> 
                </tr>               
              </thead>
              <tbody>
                <tr *ngFor="let post of invoice.items">
                  <td>{{post.number}}</td>
                  <td>{{post.invoice_date}}</td>
                  <td>{{post.invoice_due_date}}</td>
                  <td>{{post.customer.first_name}}</td>
                  <td>{{post.customer.last_name}}</td>
                  <td>{{post.total}}</td>
                  <td>{{post.due_amount}}</td>
                  <td>
                  <span [ngClass]="{'text-success': post.status === 'paid', 'text-danger': post.status === 'overdue'}" class="badge bg-light fw-bold">
                    {{ post.status_description }}
                  </span>
                  </td>
                  
                  <td>
                    <a [routerLink]="['/admin/invoice', post.id]" class="btn btn-info">Detail</a>
                  </td>
 
                  <td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      
