
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  .sticky-header {
    position: sticky;
    top: 50px;
    background-color: #ffffff;
    z-index: 500; 
    margin-top: 30;
  }
  .sortable-header {
    cursor: pointer; 
  }
  
  .sortable-header:hover {
    text-decoration: underline; 

  } 
  .btn
  {
    z-index: 500;
  } 
  thead th {
    top: 0;
    background-color: #FAFAFA;
  }
  
  table th {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .table td,
  .table th {
    border: none;
  }
  .dropdown-toggle {
    border: none !important;
    background-color: transparent !important;
  }
  
  .dropdown-icon {
    cursor: pointer;
  }
  
  .dropdown-toggle .fas {
    display: none;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none; 
  }
  .form-control {
    padding-left: 30px;
  }
  .table  tr {
    border-bottom: 1px solid #ececec;
    padding:15px;
  }
  
  